body {
  font-family: "Nanum Pen Script", cursive;
}

img {
  max-height: 100px;
}

.bg-a {
  background: url("../assets/images/a.jpg");
  width: 100%;
  height: 200px;
}

.bg-b {
  background: url("/images/b.jpg");
  width: 100%;
  height: 200px;
}
